body {
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 40%);
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}

button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    background-color: white;
}